# Build
/target/
/build/
/out/

# IDE
*.iml
.idea/
.vscode/

# Logs
*.log
notes/*.tmp

# Generated code artifacts
/generated/*.class
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
